$('.attachments-list').prepend('<div class="col-sm-3 image"><img src="<%= @attachment.preview_url %>" style="width:140px;height:140px;" class="select_image" onclick="selectImage(this)" file_id="<%= @attachment.id %>"></img></div>')
hideSpinner();
