<%= simple_form_for  [:admin, @news], class: 'forms-sample' do |f| %>
  <div class="box box box-info ">
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <%= f.input :content, label: '内容' %>
        </div>

        <div class="col-md-12 form-group">
          <%= f.input :status, collection: News.status_select, label: '状态' %>
        </div>

      </div>
      <div class="row">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
          <%= f.submit '确认', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>


