<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span></button>
  <h4 class="modal-title">用户备注</h4>
</div>
<div class="modal-body">
  <%= simple_form_for  [:admin, @order], class: 'forms-sample' do |f| %>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12 form-group">
            <%= f.input :desc, label: '备注', as: :text, input_html: {rows: 4}%>
          </div>
        </div>
      </div>
  <% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
  <button type="button" class="btn btn-primary set-desc">确认</button>
</div>

<script type=text/javascript>
  $(function(){
    $('.set-desc').click(function(){
      showSpinner()
      $.ajax({
        type: 'POST',
        url: '<%= set_desc_admin_order_path %>',
        data: {desc: $('#order_desc').val()},
        dataType: 'script',
        success: function (data) {

        }
      })
    })
  })
</script>